version: 2.1
jobs:
  compile:
   docker:
      - image: fadlyas/kernel_dockerfile:latest
   steps:
      - run:
          no_output_timeout: 50m
          command: |
           git clone -j32 --depth=1 https://github.com/Reinazhard/kranul.git -b unified
           cd kranul
           git clone -j32  --depth=1 https://github.com/Reinazhard/scripts -b unified kscripts
           source ./kscripts/envsetup.sh && chmod +x kscripts/whyred.sh && export KERNELRELEASE=x2
           bash kscripts/whyred.sh
workflows:
  version: 2.1
  cooking:
    jobs:
      - compile
