version: 2.1
jobs:
  compile:
   docker:
      - image: ubuntu:20.04
   steps:
      - run:
          no_output_timeout: 50m
          command: |
           apt-get -y update && apt-get -y upgrade && DEBIAN_FRONTEND=noninteractive apt-get -y install bc build-essential kernel-package libncurses5-dev bzip2 zip gcc clang libc6 curl libstdc++6 git wget gcc-multilib g++-multilib libssl-dev zstd openjdk-11-jdk openjdk-11-jre
           git clone --depth=1 https://github.com/Reinazhard/kranul.git -b zhardoc
           cd kranul
           git clone --depth=1 https://github.com/Reinazhard/scripts -b master kscripts
           source ./kscripts/envsetup.sh
           ./kscripts/circle.sh
workflows:
  version: 2.1
  cooking:
    jobs:
      - compile
